name: Quality Assurance
on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  before_pr:
    name: before-pr.sh
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: install shellcheck
        run: ./src/ci/install-shellcheck.sh

      - name: Install shellspec
        run: ./src/ci/install-shellspec.sh

      - name: Install shfmt
        run: ./src/ci/install-shfmt.sh

      - name: before-pr.sh
        run: ./scripts/before-pr.sh
